@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navigation {
  width: 100%;
  height: 80px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a3335;
}

.navigation .logo {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navigation__list a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.navigation__list a:hover {
  color: #ff6500;
}

.toggle__icon {
  display: none;
}

.toggle__icon i {
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 880px) {
  .navigation {
    padding: 0px 50px;
  }
  .toggle__icon {
    display: block;
  }

  .navigation__list {
    padding-top: 50px;
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #2a3335;
    flex-direction: column;
    bottom: 0px;
    left: -100%;
    transition: all 0.5s;
  }

  .navigation__list.show {
    left: 0px;
  }
}

section {
  height: calc(100vh - 80px);
  background: url("https://avatars.mds.yandex.net/get-mpic/4032259/img_id1020468524950194956.jpeg/orig")
    no-repeat;
  background-size: cover;
}
